<div class="card product-card h-100 shadow-sm position-relative" (click)="showDetails()">

  <div *ngIf="hasDiscount()" class="discount-tag">
    {{ product.discount }}% OFF
  </div>

  <div class="card-body product-image text-center py-1 shadow-sm">
    <img [src]="product.imgUrl" [alt]="product.name + ' image'" class="img-fluid my-auto rounded" load="lazy" style="margin-top: 5px; width: 180px; height: 160px; object-fit: contain;" />
  </div>

  <div class="card-body">
    <h5 class="card-title mb-1">{{ product.name }}</h5>
    <h6 class="text-muted mb-2">{{ product.brand }}</h6>
    <p class="card-text mb-1">Price: <strong class="fs-5 text-danger">₹{{ (product.price - (product.price * (product.discount ?? 0) / 100)).toFixed(2) }} </strong>
      <span class="card-text text-muted mb-1 text-decoration-line-through">₹{{ product.price }}</span>
    </p>
    
    <small class="card-text mb-1"
      [ngClass]="{'text-success': product.available, 'text-danger': !product.available}">
      {{ product.available ? 'Available' : 'Not Available' }}
    </small>
    <br>
    <small class="card-text mb-1 unimportant">In Stock: {{ product.inStock }}</small>
    <br>
    <small class="card-text mb-0 unimportant">Category: {{ product.category | titlecase }}</small>
  </div>
</div>
