.product-card {
  width: 250px;
  height: 90px;
  border-radius: 8px;
  /* transition: transform 0.2s ease-in-out; */
}

.product-card:hover {
  transform: scale(1.01);
}

.discount-tag {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffd700;
  color: #000;
  font-weight: bold;
  padding: 4px 10px;
  border-bottom-right-radius: 8px;
  font-size: 0.75rem;
  z-index: 100;
}

.product-image img {
  max-height: 180px;
  width: 100%;
  object-fit: contain;
}

.product-image {
  height: 170px;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
  .product-card {
    max-width: 235px;
    height: 85px;
  }
  .product-image img {
    max-height: 130px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
  .product-card {
    max-width: 225px;
    height: 80px;
  }
  .product-image img {
    max-height: 120px;
  }
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575px) {
  .product-card {
    max-width: 180px;
    height: 50px;
  }
  .unimportant {
    display: none;
  }
  .product-image {
    height: 100px;
  }
  .product-image img {
    max-height: 100px;
  }
}