.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar:hover {
  scrollbar-width: auto;
}

.product-list {
  display: flex;
  gap: 1%;
}

.product-item {
  flex-shrink: 0;
  scroll-snap-align: start;
  overflow: visible;
  flex: 0 0 auto;
  width: 250px;
  margin: 0px;
  padding: 0px;
}

.btn-link {
  color: #007bff;
  font-size: 2rem;
  transition: color 0.2s ease;
}

.btn-link:hover {
  color: #0056b3;
}

.product-slider-container {
  overflow: hidden;
}

.slider-nav-btn {
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.product-slider-container:hover .slider-nav-btn {
  opacity: 1;
}

.scroll-track2, .scroll-track3 {
  display: flex;
  animation: scroll-horizontal2 45s linear infinite;
  width: max-content;
  height: fit-content;
  will-change: transform;
  scroll-snap-type: x mandatory; /* Snap scrolling */
  scroll-behavior: smooth; /* Smooth scrolling behavior */
}

.scroll-track2.paused, .scroll-track3.paused {
  animation-play-state: paused;
}

@keyframes scroll-horizontal2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-horizontal3 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

.carousel-indicators [data-bs-target] {
  background-color: #BBB;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}