.hide-scrollbar {
  scrollbar-width: none;
}

.hide-scrollbar:hover {
  scrollbar-width: auto;
}

.product-list {
  display: flex;
  gap: 2rem;
}

.product-item {
  flex-shrink: 0;
  scroll-snap-align: start;
}

.btn-link {
  color: #007bff;
  font-size: 2rem;
  transition: color 0.2s ease;
}

.btn-link:hover {
  color: #0056b3;
}

.product-slider-container {
  overflow: hidden;
}

.slider-nav-btn {
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.product-slider-container:hover .slider-nav-btn {
  opacity: 1;
}

/* Animate from left to right */
.scroll-track2 {
  display: flex;
  animation: scroll-horizontal2 45s linear infinite; /* Slower scroll */
  width: max-content;
  height: fit-content;
  will-change: transform;
}

.scroll-track3 {
  display: flex;
  animation: scroll-horizontal3 45s linear infinite; /* Slower scroll */
  width: max-content;
  height: fit-content;
  will-change: transform;
}

.scroll-track2.paused, .scroll-track3.paused {
  animation-play-state: paused;
}

.product-item {
  flex: 0 0 auto;
  width: 250px;
}

@keyframes scroll-horizontal2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-horizontal3 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.33%);
  }
}